* {
    margin: 0px;
    padding: 0px;
}

#navbar {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0px;
}

#logo img {

    margin: 8px;
    padding: 7px;
    width: 60px;
    height: 60px;
    border-radius: 100px;

}

#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    background-color: black;
    z-index: -1;
    opacity: 0.4;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

#navbar ul li {
    margin-top: 35px;
    list-style: none;
    font-size: 1.2rem;

}

#navbar ul li a {
    padding: 3px 22px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    display: block;
}

#navbar ul li a:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}

#home {
    display: flex;
    flex-direction: column;

    padding: 3px 200px;
    align-items: center;
    justify-content: center;
    height: 550px;
}

#home::before {
    content: "";
    position: absolute;
    background: url('bg.jpg') no-repeat center center/cover;
    z-index: -1;
    top: 0px;
    left: 0px;
    opacity: 0.86;
    height: 555px;
    width: 100%;
}

#home h1 {
    color: white;

}

#home p {
    color: white;
    font-size: 1.2rem;
}

#service {
    margin: 20px;
    display: flex;
}

#service .box {
    border: 2px solid brown;
    margin: 3px 6px;
    padding: 35px;
    border-radius: 25px;
    background-color: rgb(249, 244, 237);
}

#service .box img {
    height: 100px;
    margin: auto;
    display: block;
    border-radius: 100px;
}

#client-section {
    height: 450px;
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('f1.jpg');
    z-index: -1;
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

#client {
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-item {
    padding: 80px;
}

#client img {
    height: 125px;
    border-radius: 10px;
}

#contact {
    position: relative;

}

#contact::before {
    content: "";
    background: url('contact.jpg') no-repeat center center/ cover;
    z-index: -1;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;
}

#contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;

}
#contact-box label{
    font-size: 1.3rem;
}
footer {
    background-color: aliceblue;
    padding: 15px 30px;
}

.h-primary {
    font-size: 2.8rem;
    padding: 15px;
}

.h-seconday {
    font-size: 3rem;
    padding: 15px;
}

.button {
    padding: 5px 20px;
    background-color: bisque;
    border: 3px solid black;
    margin: 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.1rem;
}

.center {
    text-align: center;
}